<div>
	<%- include('message') -%>
</div>
<div class="card">
	<div class="card-header p-3 text-center">Student Submission</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav">
			<a href="/student/dashboard" class="nav-item nav-link">Upcoming Submission</a>
			<a href="/student/submission" class="nav-item nav-link active">Submitted Submission</a>
		</div>
        <div class="offset-md-6 col-md-2">
            <a href="/student/logout" class="float-right">Logout</a>
        </div>
	</nav>
	<div class="m-3"><h3>Submitted assignments</h3></div>
	<div class="card-body">
    	<table class="table">
            <tr>
                <th>Name</th>
                <th>Assignment</th>
                <th>Answer</th>
                <th>Grade</th>
            </tr>
            <% if(list.length > 0) { %>
                <% list.forEach(function(row) { %>
            	   <tr>
            		    <td><%= row.name %></td>
            		    <td><a href="/student/file/<%= row.question %>">View</a></td>
                        <td><a href="/student/file/<%= row.answer %>">View</a></td>
                        <% if(row.grade != undefined) { %>
                            <td><%= row.grade %></td>
                        <% }else { %>
                            <td>-</td>
                        <% } %>
            	   </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td>No data to display</td>
                </tr>
            <% } %>
        </table>
	</div>
</div>